:root{
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --ocean: #404bbf;
    --slate: #434455;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
}

body{
    color: var(--slate);
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    letter-spacing: 0.32px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.page-header{
  align-items: center; 
  display: inline-block;
}

.logo-link{
    font-size: 18px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    display: inline-block;
    letter-spacing: 0.54px;
}

.logo, .studio{
    color: var(--iris);
}

.studio{
    color: var(--navyblue);
}

.studio2 {
    color: var(--cloud);
}

.list{
    list-style-type: none;
}

.nav-menu .page{
    font-weight: 500;
    text-decoration: none;
    color: var(--navyblue);
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contacts-link:hover,
.contacts-menu .contacts-link:focus{
    color: var(--iris)
}

.contacts-menu .contacts-link{
    text-decoration: none;
    color: var(--navyblue);
}

.bg-hero{
    background-color: var(--navyblue);
}

.hero-title{
    font-weight: 700;
    color: var(--cloud);
    font-size: 56px;
    border-radius: 4px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 1.12px;
}

.button{
    font-family: inherit;
    border-color: transparent;
    border: none;
    letter-spacing: 0.03px;
    cursor: pointer;
}

.button.primary{
    background-color: var(--iris);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
}

.button.primary:hover,
.button.primary:focus{
    background-color: var(--ocean);
}

.benefits .title{
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.bg-team{
    background-color: var(--cloud);
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    color: var(--navyblue);
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.72px;
}

.team .team-name,
.team .team-position{
    text-align: center;
}

.team .team-name{
    color: var(--navyblue);
    font-weight: 500;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.bg-footer{
    background-color: var(--navyblue);
}

.footer-description{
    color: var(--cloud);
}

.button.filter{
    background-color: var(--cloud);
    color: var(--iris);
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    line-height: 24px;
    letter-spacing: 0.64px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current{
    background-color: var(--ocean);
    color: var(--cloud);
    border-color: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project{
    text-decoration: none;
}

.project .project-name{
    color: var(--navyblue);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.4px;
}

.project .project-type{
    color: var(--slate);
}